

#intro{
  /* position: absolute;
  width: 100%;
  height: 100%;
  top: 0; */
}

.intro{
  display: flex;
  flex-direction: row;
  height: 100%;
}

.intro__img{
  border-right: var(--stroke);
  flex: 1.5;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro__img img{
  max-height: 80%;
  max-width: 55%;
  margin-top: 5rem;
}

.intro__content{
    flex: 1;

    display: flex;
    flex-direction: column;
   

    overflow-y: auto;
}


.intro__content-me{
  padding: 7rem 2rem 2rem 2rem;
  border-bottom: var(--stroke);

}

.intro__content-me h4{
  font-family: var(--font-title-bold);
  font-size: 2rem;
  margin-bottom: 4px;
  font-weight: bold;
  }
  
  
  .intro__content-me h2{
    font-family: var(--font-title-bold);
    font-size: 4rem;
    margin-bottom: 3rem;
  }
  
  .intro__content-me div{
    margin-bottom: 4px;
    font-weight: bold;
    font-size: 1.1rem;
    background-color: var(--black);
    color: #fff;
    width: fit-content;
    padding: 0.5rem;
    border-radius: 0.8rem;
   }
  
  .intro__content-me span{
   margin-bottom: 1rem;
   display: inline-block;
   font-size: 1.3rem;
  }

.intro__content-hello{
  height: 33px;
    
  background-color: var(--black);
  color: white;
  


  overflow: hidden;

}

.hello__item{
  position: relative;
  width: 1200px;
  animation: scroll-animation 5s linear infinite;
}

.hello__item span{
  float: left;
  width: 400px;
  font-size: 2rem;
  color: #494949;

  font-weight: 900;
}


.intro__content-text{
 position: relative;
 flex-grow: 1;
}

.intro__content-text p{
  font-size: 1.5rem;
  line-height: 2.4rem;
  font-family: "Pretendard Variable";
  top: -12px;
  position: relative;
}

.text__item-list{
   padding: 2rem;
margin-bottom: 80px;
}

.text__item{
  border: 2px solid var(--black);
  margin: 8px 0;
  padding: 8px 10px;
  border-radius: 14px;
  background-color: var(--black);
  color: #fff;
}


.text__item::before {
  content: "◀";
  left: -18px;
  color: var(--black);
  position: relative;
 
}


.text__bottom{
  height: 59px;
  background-color: #e1e1e1;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0 2rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.white{
  width: 85%;
  height: 40px;
  background-color: #fff;

  border-radius: 8px;
}

.send{
  width: 13%;
  height: 40px;
  background-color: #494949;
  border-radius: 8px;
  
}