

#intro{
  /* position: absolute;
  width: 100%;
  height: 100%;
  top: 0; */
}

.intro{
  display: flex;
  flex-direction: row;
  height: 100%;

}

.cover{
 width: 100%;
  height: 100vh;
  background-color: var(--color-02);
  z-index: 99;
  mix-blend-mode: multiply;
}


.opening{
  width: 100%;
  height: 100vh;
  background-color: var(--color-05);
  
  animation: open-ani 1.5s ease-in-out forwards 1s;
  position: absolute;
  z-index: 99;
  border: 3px solid var(--black);
  top: 0;

  display: flex;
    justify-content: center;
    align-items: center;

  }
  
  .opening span{
    color: #fff;
    font-size: 9.1rem;
    font-family: var(--font-title-bold);
    opacity: 0.5;
  }


.intro__img{
  border-right: var(--stroke);
  flex: 1.5;
  
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  position: relative;
}

.intro__img img{
 
  max-width: 140%;
  margin-top: 5rem;
  position: absolute; 
}


/* 다리 */
.intro__img img:nth-child(5){
animation: leg-ani 1s ease-in-out infinite alternate ;
 }

/* 왼쪽팔 */
.intro__img img:nth-child(6){
animation: arm-ani .5s ease infinite;
transform-origin: right;

 }
/* 오른쪽팔 */
.intro__img img:nth-child(7){
  animation: arm-ani .5s ease infinite .4s;
 }
/* 머리 */
.intro__img img:nth-child(9){

  animation: head-ani 1s ease infinite alternate ;
 }
/* 눈 */
.intro__img img:nth-child(10){
  animation: head-ani 1s ease infinite alternate ;
 }

/* 조명 */
.intro__img img:last-child{
  opacity: .5;
  filter: blur(1px);
  animation: blur-effect 2s ease infinite alternate ;
 }


 /* .intro__img 마우스 오버 시 동작 */
.intro__img:hover img:nth-child(4) {
  /* 이미지 소스 변경 */
  content: url('../../public/images/intro_pc_hover.png');
}
 /* .intro__img 마우스 오버 시 동작 */
.intro__img:hover img:nth-child(10) {
  /* 이미지 소스 변경 */
  content: url('../../public/images/intro_eye_hover.png');
}
 /* .intro__img 마우스 오버 시 동작 */
.intro__img:hover img:nth-child(11) {
  /* 이미지 소스 변경 */
  content: url('../../public/images/intro_mouse_hover.png');
}

.intro__img:hover img {
  animation-play-state: paused;
}

.intro__img:hover .cover{
  background-color: #fff;
}





.intro_front img{
  position: absolute;
  width: 300px;

}

.intro-calendar {
  position: absolute;
  top: 12vh;
  left: 7vw;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8vw;


}
.date{
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transform: skew(0deg, -2deg) scale(0.9);
  margin-left: 4px;
  padding: 1rem;
  margin-top: 8px;
}

.date-top{
  display: flex;
  flex-direction: row;
 
}

.date-top span{
  font-size: 1.1vw;
  font-weight: 900;
  padding: .2rem;

}
.date span{
  display: inline-block;
}

.date>span{
  font-size: 7vw;
  font-weight: 900;
}


.intro-calendar img {
  margin-top: 0;
  }

.intro-watch{
  position: absolute;
  width: 8vw;
  top: 19vh;
  right: 25vw;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.intro-watch img{
  margin-top: 0;
  
}

.time{
  margin-left: 13px;
  transform: skew(0deg, -2deg) scale(0.9);
}

.time span{
  font-size: 1.3vw;
  position: relative;
  font-weight: 900;
  color: #fff;
  
  transform: rotate(-2deg);
  letter-spacing: 2px;

}

.time span:after{
  content: ':';
  animation: blink-effect 1s ease infinite;
  padding: 0 1px;
}

.time span:last-child::after{
  content: '';


}


.intro__content{
    flex: 1;

    display: flex;
    flex-direction: column;
   

    overflow-y: auto;
}


.intro__content-me{
  padding: 7rem 2rem 2rem 2rem;
  border-bottom: var(--stroke);
background-color: var(--color-02);
}

.intro__content-me h4{
  font-family: var(--font-title-bold);
  font-size: 2rem;
  margin-bottom: 4px;
  font-weight: bold;
  }
  
  
  .intro__content-me h2{
    font-family: var(--font-title-bold);
    font-size: 4rem;
    margin-bottom: 3rem;
  }
  
  .intro__content-me div{
    margin-bottom: 4px;
    font-weight: bold;
    font-size: 1.1rem;
    background-color: var(--black);
    color: #fff;
    width: fit-content;
    padding: 0.5rem;
    border-radius: 0.8rem;
   }
  
  .intro__content-me span{
   margin-bottom: 1rem;
   display: inline-block;
   font-size: 1.3rem;
  }

.intro__content-hello{
  height: 33px;
    
  background-color: var(--black);
  color: white;
  


  overflow: hidden;

}

.hello__item{
  position: relative;
  width: 1200px;
  animation: scroll-animation 5s linear infinite;
}

.hello__item span{
  float: left;
  width: 400px;
  font-size: 2rem;
  color: #494949;

  font-weight: 900;
}



.intro__content-text{
 position: relative;
 flex-grow: 1;
 overflow: auto;
 background-color: var(--color-03);
}



.intro__content-text p{
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-family: "Pretendard Variable";
  top: -12px;
  position: relative;
}

.text__item-list{
   padding: 2rem;
   margin-bottom: -55.7px;
}

.text__item-list.add {
  margin-bottom: 80px;

  display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.text__item{
  border: 2px solid var(--black);
  margin: 10px 0;
  padding: 2px 8px;
  border-radius: 14px;
  background-color: var(--black);
  color: #fff;
  width: fit-content;
}


.text__item::before {
  content: "◀";
  left: -16px;
  color: var(--black);
  position: relative;
 
}
.text__item.right{
  border: 2px solid var(--color-02);
  margin: 8px 0;
  padding: 5px 8px;

  background-color: var(--color-02);
  color: var(--black);
  width: fit-content;

  position: relative;

}


.text__item.right::before {
  content: " ";

 
}
.text__item.right::after {
  content: "▶";
  position: absolute;
  top: 50%;
  right: -9px;
  transform: translateY(-105%);
  color: var(--color-02);
 
}
.text__item.right p{
  top: 0px;
  font-weight: 600;

}




.text__bottom{
  height: 59px;
  background-color: #e1e1e1;
  position: absolute;
  bottom: 0;
  width: -webkit-fill-available;
  padding: 0 2rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.white{
  width: 85%;
  height: 40px;
  background-color: #fff;
  border-radius: 8px;
  border: none;
  font-size: 1.4rem;
  padding-left: 8px;
  margin-right: 8px;
}

input:focus {outline:none;}

.white span{
  animation: blink-effect 1s step-end infinite;
  font-size: 2rem;
  color: #b8b8b8;
  line-height: 3.3rem;
  margin-left: 3px;
}

.send{
  width: 13%;
  height: 40px;
  background-color: #494949;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: url("../../public/images/cursor_hover.png"), auto;
  
}

.send:hover{
  background-color: #424242;
}