
#portfolio{
  position: absolute;
  /* 임시 배경색 */
  background-color: #fff;

 
}

.portfolio{

  height: 100%;
  padding: 7rem 2rem;

  box-sizing: border-box;
  /* overflow: auto; */
}


.portfolio h3{
  font-size: 2rem;
font-family: var(--font-title-bold);
display: inline-block;
}


.portfolio span{
  font-size: 1.2rem;
  }



.portfolio__menu{

}




  .portfolio__list{
    display: flex;
    position: absolute;
    right: 0;
    padding-top: 30px;

  }

  

  
  .portfolio__item{
    /* position: absolute; */
    position: relative;
    width: 25vw;
    display: inline-block;
    
  }


.plist__title{
  position: absolute;
  bottom: -87px;
  /* right: 0; */
  width: 100%;
  text-align: right;
  border-bottom: 3px solid var(--black);

}

.plist__title.side{
  border-bottom: 0;
  border-top: 3px solid;
  top: -10px;
}

.plist__title.side h3{
  padding-top: 11px;
}

  .portfolio__item .inner{
    border-radius: 23px;
    border: 3px solid var(--black);
    background-color: #fff;
    padding: 20px;
    width: 100%;
    height: 100%;
 
  }

  

  .portfolio__item:hover{
    transform: translateX(-10px) translateY(20px);
    transition: transform .2s ease-in-out;
    cursor: url("../../public/images/cursor_hover.png"), auto;
  }
  .portfolio__item:hover .inner{
   background-color: var(--black);
   transition: background-color .2s ease-in-out;
   color: #888;
  }
  .portfolio__item:hover .view-more{
   opacity: 1;;
   transition: opacity .2s ease-in-out;
  }


  /* 사이드 리스트  */
  .portfolio__list.side{

    bottom: 0;
  }





.pitem__img,.pitem__skill,.pitem__txt{
 /* margin-top: 25px; */
}   


  .pitem__img{
    width: 100%;
    height: 100px;
    background-color: #888;
    margin-right: 30px;
    border-radius: 4px;

    /* float: left; */
  }


  .pitem__img::after{
    content: '';
    display: block;
    clear: both;
  }

  .pitem__title{
    padding: 4px 0;

  }

  .pitem__title h4{
    padding: 4px 0;
    font-size: 2.3rem;
  }


  .pitem__skill{

  }

  .pitem__txt{

  }






/* 포트폴리오 개별 내용 새창 */
  
  .portfolio__content-more{
    position: absolute;
    width: 90vw;
    height: 86%;
    background-color: #fff;
    top: 70px;
    border-radius: 8px;
    border: 3px solid var(--black);
    box-shadow: 0px 0px 200px #000;
    left: 0;
    right: 0;
    margin: 0 auto;

    z-index: 999;

    /* display: none; */
  }




  .portfolio__content p{
    font-size: 1.2rem;
  }

  .portfolio__content h4{
    font-size: 1.5rem;
    margin-bottom: .5rem;
  }


  /* 닫기버튼 */
  button.close__btn{
background-color: var(--black);
border-style: none;
border-radius: 2px;
color: #fff;
box-shadow: 2px 2px 8px #000;

  }

  .close__btn{
    position: fixed;
  /*   right: 0; */
    margin: 4px;
    width: 40px;
    height: 40px;
    font-size: 3rem;
    line-height: 3.3rem;
    z-index: 3;
    transition: .1s ease-in-out;
  }
  .close__btn:hover{
    transform: scale(1.01);
  }
  

  

  .portfolio__content{
    height: 100%;
    position: relative;
    border-radius: 0 5px 0 0;
    overflow: auto;
  }

  .pcontent__box{
    height: 1000px;
  }

  .image__box{
    width: 100%;
    height: 330px;
 
    border-radius: 0 0 0 8px;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
  }



  .pcontent__image{
  background-image: url(../../public/images/portfolio/site_01/main.png);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  filter: brightness(0.3);

  }

  .pcontent__title{
    position: absolute;
    
  }

  .pcontent__title h3{
    font-size: 5rem;
    margin-left: 1rem;
    color: #fff;
  }

  .view__btn{
    position: absolute;
    bottom: 70px;

    margin: 1rem;
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    border-radius: 20px;
    width: 123px;
    height: 38px;
    font-size: 1.7rem;
    transition: border .2s ease-in-out;
  }
  .view__btn a{
    color: #fff;
  }

  .view__btn:hover{
    border: 6px solid #fff;


  }


  .portfolio__menu{
    display: none;
  }


  .pmenu__box{
    margin: 10px;
  }

  .pmenu__title{
    background-color: var(--black);
    display: inline-block;
    padding: 4px;
    border-radius: 4px;
    line-height: 1rem;
 

  }
  .pmenu__title h5 a{
    font-size: 1.2rem;
    color: #fff;
  }


  .pmenu-list{
    margin-bottom: 3rem;
  }

  .pmenu-list__item{
    width: fit-content;
    margin: 4px 6px;
  }

  .pmenu-list__item:hover {
    border-bottom: 1px solid var(--black);
  }



  .portfolio__content-more.design{

    display: none;
  }


  .content__box{
    padding: 2rem;
    position: relative;

  }

  .pcontent__skill{
    padding-bottom: 2rem;

  }
  .pcontent__skill h3{
    margin-right: 1rem;
    vertical-align: -webkit-baseline-middle;
  }

  .pcontent__skill span{
    display: inline-block;
    padding: 4px;
    background-color: var(--black);
    color: #fff;
    margin: 4px;
    border-radius: 4px;
    font-size: 1rem;

  }

.pcontent__text{
  
}


.pcontent__text h3{
  margin-right: 1rem;
  vertical-align: -webkit-baseline-middle;
}

.pcontent__text span{
  display: inline-block;
  padding: 4px 8px;

  margin: 4px;
  border-radius: 2rem;
  font-size: 1.2rem;
  border: 1px solid var(--black);
}


  .point__box{
    padding-top: 3rem;
    
  }

  .point__list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .point__item{
    padding: 1rem;
  }
  .point__item img{
    width: 100%;
    height: 200px;
    background-color: #888;
  }