
#portfolio{
  position: absolute;
  background-color: var(--color-11);

 
}

.portfolio{

  height: 100%;
  padding: 7rem 2rem;

  box-sizing: border-box;
  /* overflow: auto; */
}


.portfolio h3{
  font-size: 2rem;
font-family: var(--font-title-bold);
display: inline-block;
margin-right: 1rem;
}


.portfolio span{
  font-size: 1.2rem;
  }



.portfolio__menu{

}


.portfolio__lists{
  padding-top: 5rem;
}

  .portfolio__list{
    display: flex;
    position: absolute;
    /* right: 0;
    padding-top: 30px; */

  }

  

  
  .portfolio__item{
    /* position: absolute; */
    position: relative;
    width: 23vw;
    display: inline-block;
    /* padding: 1rem; */
  }


.plist__title{
  position: absolute;
  bottom: -87px;
  /* right: 0; */
  width: 100%;
  text-align: right;

}

.plist__title.side{
  border-bottom: 0;
  top: -10px;
}

.plist__title.side h3{
  padding-top: 11px;
  
}

  .portfolio__item .inner{
    border-radius: 23px;
    border: 3px solid var(--black);
    background-color: var(--color-03);
    padding: 20px;

    height: 100%;
    margin: 0 -2px;
  }

  

  .portfolio__item:hover{
    transform: translateX(-10px) translateY(20px);
    transition: transform .2s ease-in-out;
    cursor: url("../../public/images/cursor_hover.png"), auto;
  }
  .portfolio__item:hover .inner{
   background-color: var(--black);
   transition: background-color .2s ease-in-out;
   color: #888;
  }
  .portfolio__item:hover .view-more{
   opacity: 1;;
   transition: opacity .2s ease-in-out;
  }


  /* 사이드 리스트  */
  .portfolio__list.side{

    bottom: 0;
  }





.pitem__img,.pitem__skill,.pitem__txt{
 /* margin-top: 25px; */
}   


  .pitem__img{
    width: 100%;
    height: 120px;
    /* background-color: var(--black); */
    margin-right: 30px;
    border-radius: 4px;
    position: relative;

    overflow: hidden;

  }

  .pitem__img img{
    position: relative;
    width: 100%;
    border-radius: 4px;
  }

  .pitem__img::after{
    content: '';
    display: block;
    clear: both;
  }

  .pitem__title{
    padding: 4px 0;

  }

  .pitem__title h4{
    padding: 4px 0;
    font-size: 2rem;
  }


  .pitem__skill{
    font-weight: 900;
    margin-top: 4px;
    display: flex;
    flex-wrap: wrap;
  }
  .pitem__skill span{
    margin-right: 8px;
  }
  .pitem__skill span::after{
   content: ' /';
   font-weight: 400;
  }

  .pitem__txt{
    margin-top: 8px;
    font-size: 1.2rem;
  }






/* 포트폴리오 개별 내용 새창 */
  
  .portfolio__content-more{
    position: absolute;
    width: 90%;
    height: 86%;
    background-color: var(--color-02);
    top: 70px;
    border-radius: 8px;
    border: 2px solid var(--black);

    left: 0;
    right: 0;
    margin: 0 auto;

    z-index: 999;

    display: none;
  }




  .portfolio__content p{
    font-size: 1.2rem;
  }

  .portfolio__content h3{
    font-size: 1.8rem;
  }
  .portfolio__content h4{
    font-size: 1.5rem;
    margin-bottom: .5rem;
  }


  /* 닫기버튼 */
  button.close__btn{
background-color: var(--black);
border-style: none;
border-radius: 2px;
color: #fff;
box-shadow: 2px 2px 8px #000;

  }

  .close__btn{
    position: fixed;
  /*   right: 0; */
    margin: 4px;
    width: 40px;
    height: 40px;
    font-size: 3rem;
    line-height: 3.3rem;
    z-index: 3;
    transition: .1s ease-in-out;
  }
  .close__btn:hover{
    transform: scale(1.01);
  }
  

  

  .portfolio__content{
    height: 100%;
    position: relative;
    border-radius: 0 5px 0 0;
    overflow: auto;
  }

  .pcontent__box{
/* display: flex; */
    
  }

  .image__box{
    width: 300px;
    height: 100%;
    border-radius: 0 0 0 8px;
    position: fixed;
    display: flex;
    justify-content: flex-start;
  }



  .pcontent__image{
  
  width: 300px;
  height: 100%;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  filter: brightness(0.2);

  overflow: hidden;
  }


  .pcontent__image img{
   width: 100%;
  }


  .view__btn:hover .pcontent__image img{

   transform: scale(1.1);
   transition: scale .3s ease-in-out;
  }

  .pcontent__title{
    position: absolute;
    
  }

  .pcontent__title h3{
    font-size: 3rem;
    margin-left: 2rem;
    color: #fff;
    margin-top: 10vh;
    
  }

  .view__btn{
    position: absolute;
    /* bottom: 70px; */
    top: 14vh;
    margin: 2rem;
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    border-radius: 20px;
    width: 123px;
    height: 38px;
    font-size: 1.7rem;
    transition: border .2s ease-in-out;
  }
  .view__btn a{
    color: #fff;
  }

  .view__btn:hover{
    border: 6px solid #fff;


  }


  .portfolio__menu{
    display: none;
  }


  .pmenu__box{
    margin: 10px;
  }

  .pmenu__title{
    background-color: var(--black);
    display: inline-block;
    padding: 4px;
    border-radius: 4px;
    line-height: 1rem;
 

  }
  .pmenu__title h5 a{
    font-size: 1.2rem;
    color: #fff;
  }


  .pmenu-list{
    margin-bottom: 3rem;
  }

  .pmenu-list__item{
    width: fit-content;
    margin: 4px 6px;
  }

  .pmenu-list__item:hover {
    border-bottom: 1px solid var(--black);
  }



  .portfolio__content-more.design{

    /* display: none; */


  }


  .design__image{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(100% / 5), 1fr));

  }


  .design__item{
    width: 100%;
    position: relative;
    padding-top: 100%; /* 1:1 비율을 유지하기 위해 높이를 가로 크기와 동일하게 설정 */
    overflow: hidden;
  }
  .design__item img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* 부모 요소인 .design__item의 크기에 맞추기 */
    object-fit: cover; 
  }



  .content__box{
    padding: 10vh 2rem;
    position: relative;
    margin-left: 300px;
  }

  .pcontent__skill{
    padding-bottom: 2rem;

  }
  .pcontent__skill h3{
    margin-right: 1rem;
    vertical-align: -webkit-baseline-middle;
  }
  .pcontent__skill h4{
   display: inline-block;
  }

  .pcontent__skill span{
    display: inline-block;
    padding: 4px;
    background-color: var(--black);
    color: #fff;
    margin: 4px;
    border-radius: 4px;
    font-size: 1rem;

  }

.pcontent__text{
  
}


.pcontent__text h3{
  margin-right: 1rem;
  vertical-align: -webkit-baseline-middle;
}

.pcontent__text span{
  display: inline-block;
  
  font-size: 1.5rem;
  
}
.pcontent__text p::before{
content: '- ';
  
}

  .point__box{
    padding-top: 3rem;
    
  }

  .point__list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .point__item{
    padding: 1rem;
    width: 90%;
    margin-bottom: 4rem;
    
  }
  .point__item p::before{
    content: '- ';
  }


  .point__item img{
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    box-shadow: 1px 1px 4px var(--black);
    border-radius: 14px;
    margin: 2rem 0;
  }






  .portfolio__content.design{
    border-radius:5px;
    /* overflow: hidden; */
    margin: 0;
    padding: 0;
  }


  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: var(--swiper-pagination-color, var(--color-05));
}

.design__item:hover img{
scale: 1.1;
transition: scale .4s ease;
} 

.design__box{
 

}


.design__nav{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  position: fixed;
  z-index: 9;
  margin-left: 54px;
  margin-top: 5px;
}


.design__nav span{
  margin: 6px;
  padding: 4px 8px;
  border: 2px solid var(--black);
  border-radius: 20px;
  font-weight: 900;
  background-color: var(--color-03);
}

.design__nav span:hover{

  background-color: var(--color-05);
  transition: .3s ease;
  cursor: url("../../public/images/cursor_hover.png"), auto;


}


@media screen and (max-width:1400px) {

  .design__image{

    grid-template-columns: repeat(auto-fill, minmax(calc(100% / 4), 1fr));
  
  }
}



/* 타블렛 */
@media screen and (max-width:1300px) {
  .point__list {

    grid-template-columns: repeat(1, 1fr);
}
.design__image{

  grid-template-columns: repeat(auto-fill, minmax(calc(100% / 3), 1fr));

}
}

  
/* 타블렛 */
@media screen and (max-width:1023px) {
  .design__image{

    grid-template-columns: repeat(auto-fill, minmax(calc(100% / 2), 1fr));

  }

 
  
}

/* 모바일 */
@media screen and (max-width:600px) {

  .portfolio {
    overflow: auto;
  }

  .image__box {
    position: relative;
    height: 200px !important;
    width: 100%;
  }
  
  
  .pcontent__image{
  width: 100%;
  }



.content__box {
  margin-left: 0;
  padding: 3vh 1rem;
}

.point__list {
  grid-template-columns: repeat(1, 1fr);
}

.portfolio__list {

  position: relative;
  flex-direction: column;
}
.portfolio__item {
  width: 100%;
}
.portfolio__item .inner {
  margin-bottom: 1rem;
  padding: 15px;
}

.pitem__title h4 {
 font-size: 1.6rem;
}
.portfolio span {
  font-size: 1rem;
}
.view__btn {

  top: 13vh;

  width: 92px;
  height: 31px;
  font-size: 1.2rem;

}

.point__item img {

  padding: 1rem;

  margin: 0rem 0 1rem 0;
}


.design__image{

  /* grid-template-columns: repeat(auto-fill, minmax(calc(100%), 1fr)); */

}
.pcontent__box {
  overflow: hidden;
}


}
