@charset "utf-8";
/* 메인 CSS - main.css */

@import url(./core.css);
@import url(./nav.css);



* {
  /* outline: 1px dotted orange; */
}

body{

}


#header, #main{
  margin: 48px;
  outline: var(--stroke);
}


#header{
  position: relative;
  font-family: var(--font-title-bold);
  background-color: #fff;
  border-radius: 2px 2px 0 0;

  z-index: 999;
}


#main{
  position: absolute;
  top: 0;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  border-radius: 2px;

  overflow: hidden;
}


.header__wrap{
  display: flex;
}



.header__info{
  display: flex;
  width: 100%;
  height: 4rem;
  padding: 1rem;
  box-sizing: border-box;
  align-items: center;;

  overflow: hidden;
}


.header__logo img{
  position: relative;
  max-width: 11rem;
}

.header__logo{
  position: relative;
  display: inline-block;
}

.header__logo::after{
  content: '';
  background-image: url(../images/logo2.png);
  position: absolute;
  width: 3rem;
  height: 3rem;
  background-size: contain;
  background-repeat: no-repeat;

  top: -1px;

}


.header__title{
  position: relative;
  font-size: 2.4rem;
  margin-left: 2.4rem;
  margin-top: 1.2rem;

}




.header__nav{
  width: 5rem;
  border-left: var(--stroke);

  display: flex;
  justify-content: center;
  align-items: center;
}

.header__nav:hover {
  cursor: url("../images/cursor_hover.png"), auto;
}



.header__nav-menu {
  position: absolute;
 
  height: 0;
  overflow: hidden; /* 초기에는 내용이 보이지 않도록 함 */
 
  background-color: #fff;
  width: 100%;
  top: 4rem;

  border-radius: 2px;
  border-top: var(--stroke-half);
  transition: height .4s ease-in;
  border-bottom: var(--stroke-half);
}



.header__nav-menu.on {
  border-bottom: var(--stroke-half);

}






 .menu-list{
  padding: 9rem 4rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  
 }

 .menu-list a{
  display: inline-block;
 }
 
 .menu-list>li{
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: var(--stroke);
 }


.menu-list__item{
  
}

.menu-list__item span{
  font-family: 'Pretendard';
  font-size: 1.2rem;
  font-weight: 400;
}

 .sub-list{
  font-size: 1.5rem;
  display: flex;
 }

 .sub-list li{
  margin-left: 2rem;
 }



 section{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
 }

#intro{
  /* position: absolute;
  width: 100%;
  height: 100%;
  top: 0; */
}

.intro{
  display: flex;
  flex-direction: row;
  height: 100%;
}

.intro__img{
  border-right: var(--stroke);
  flex: 1.5;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro__img img{
  max-height: 80%;
  max-width: 80%;
  margin-top: 5rem;
}

.intro__content{
    flex: 1;

    display: flex;
    flex-direction: column;

    overflow-y: auto;
}


.intro__content-me{
  padding: 7rem 2rem 2rem 2rem;
  border-bottom: var(--stroke);

}

.intro__content-me h4{
  font-family: var(--font-title-bold);
  font-size: 2rem;
  margin-bottom: 4px;
  font-weight: bold;
  }
  
  
  .intro__content-me h2{
    font-family: var(--font-title-bold);
    font-size: 4rem;
    margin-bottom: 3rem;
  }
  
  .intro__content-me div{
    margin-bottom: 4px;
    font-weight: bold;
    font-size: 1.1rem;
    background-color: var(--black);
    color: #fff;
    width: fit-content;
    padding: 0.5rem;
    border-radius: 0.8rem;
   }
  
  .intro__content-me span{
   margin-bottom: 1rem;
   display: inline-block;
   font-size: 1.3rem;
  }

.intro__content-hello{
  padding: 2rem;
  font-size: min(3vw, 2rem);
  line-height: 3rem;
  background-color: var(--black);
  color: white;
  flex: 1;
}





#about{
  position: relative;
  /* 임시 배경색 */
  background-color: #fff;

  display: flex;
  flex-direction: row;

}


.about-me,.about-skill{
  flex: 1;
  padding: 7rem 2rem;
}

.about-me h4,.about-skill h4{
font-size: 2rem;
font-family: var(--font-title-bold);
display: inline-block;
}

.about-me span,.about-skill span{
font-size: 1.2rem;
}


.about-me{
  border-right: var(--stroke);
  overflow: auto;
}

.about-skill{
 
}

.about__item__box{
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.about__item{
  display: flex;
  flex-direction: column;
  margin: 0 4px 4px 0;
}

.about__item-cont{
  display: inline-block;
  width: fit-content;
  padding: 4px;
  background-color: #fff;
  border: 2px solid var(--black);
  border-radius: 4px;
  margin-bottom: 2px;
}

.about__item-cont span{
  font-size: 1.3rem;
  font-weight: 900;
}

.about__item-name{
display: inline-block;
width: fit-content;
padding: 2px;
background-color: var(--black);
color: #fff;
border-radius: 4px;
}

.about__item-name span{
  font-size: 1rem;
}

.about__item-cont.stxt span:nth-child(2){
  font-size: .9rem;
  color: #888;
}

.item-cont__title{
  border-bottom: 2px solid var(--black);
}

.item-cont__title span{
font-size: 1.5rem;
}

.item-cont__text{
  padding: 4PX;
}
.item-cont__text span{
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 2rem;
}